@charset "UTF-8";
body {
  background-image: url('../images/background.jpg');
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color:powderblue; */
  /* Additional background styles (e.g., repeat, position) can be added here */
}
